
<head>
<style type="text/css">
	
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}


table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: 30%;
 transform: translate(-50%,-50%);
 width: 60%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td , th{
 padding: 15px 20px;
 text-align: center;
 

}
th{
 background-color: #ba68c8;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}

#table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: 70%;
 transform: translate(-50%,-50%);
 width: 60%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
#table td , th{
 padding: 15px 20px;
 text-align: center;
 

}
#table th{
 background-color: #ba68c8;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
#table tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
#table tr:nth-child(even){
 background-color: #eeeeee;
}

</style>	
</head>
<body>
	<div id="div">
<table>
	<thead>
		<tr>
			<th>Data do pagamento</th>
			<th>Valor do pagamento</th>
			<th>Juros</th>
			<th>Multa</th>
			<th>Desconto</th>
		</tr>
	</thead>
	<tbody>
	<% todos = ContaRecerbe.all %>
	<% todos.each do |conta| %>
	<tr>
		<td><%= conta.data_pagamento %></td>
		<td><%= conta.valor_contar %></td>
		<td><%= conta.juros %></td>
		<td><%= conta.multa %></td>
		<td><%= conta.desconto %></td>
	</tr>
		
		<% end %>
	</tbody>

</table>


</div>

</body>
